<div class="px-4 pt-5 my-5 text-center animated fadeIn">
  <h1 class="display-4 fw-bold fast mb-3">SpotiApp</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      This is App was created by
      <strong
        ><a
          href="https://www.linkedin.com/in/renato-corbellini-99155a175/"
          target="_blank"
          >Renato Corbellini</a
        ></strong
      >
      and is meant to be a source of searches for Spotify tracks, albums,
      artists and more! Please if you have any suggestions or comments, don't
      hesitate to contact me through
      <a
        href="https://www.linkedin.com/in/renato-corbellini-99155a175/"
        target="_blank"
        >LinkedIn</a
      >
      or
      <a href="https://github.com/7Rena7" target="_blank">Github</a>.
    </p>
  </div>
  <div class="overflow-hidden animated fadeIn" style="max-height: 30vh">
    <div class="container px-5">
      <img
        src="/assets/img/banner-ico.png"
        class="img-fluid mb-4"
        alt="Logo"
        width="150"
        height="150"
        loading="lazy"
      />
    </div>
  </div>
</div>
