<nav class="navbar navbar-expand-md bg-body-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light ms-3" href="/#/home">
      <img
        src="/assets/img/banner-ico.png"
        alt="Logo"
        width="40"
        height="40"
        class="d-inline-block"
      />
      {{ title }}
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link text-light"
            href="#"
            [routerLink]="['home']"
            routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-light"
            href="#"
            [routerLink]="['searchAll']"
            routerLinkActive="active"
            >Search</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-light"
            href="#"
            [routerLink]="['about']"
            routerLinkActive="active"
            >About</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
