<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
      class="nav-link text-light-emphasis"
      [routerLink]="['..', 'searchAll']"
      routerLinkActive="active"
      >All</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link text-light-emphasis"
      [routerLink]="['..', 'searchTracks']"
      routerLinkActive="active"
      >Tracks</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link text-light-emphasis"
      [routerLink]="['..', 'searchAlbums']"
      routerLinkActive="active"
      >Albums</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link text-light-emphasis"
      [routerLink]="['..', 'searchArtists']"
      routerLinkActive="active"
      >Artists</a
    >
  </li>
</ul>
